<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>best ebay ever</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/cart">cart</a>
        <a href="/product">product</a>
    </div>
    <img src="static/e-bay.png" style="width: 250px;height: 150px;">
    <p>this website will provide you the most important things you need in your life</p>
    <div>
        <p>banana</p>
        <a href="/product"><img src="static/BananaSingle.jpg" style="width: 250px;height: 150px;"></a>
    </div>
    <div>
        <p>water bottle (imported from africa)</p>
        <a href="/product"><img src="static/water.webp" style="width: 250px;height: 150px;"></a>
    </div>
    <div>
        <p>nokia phone</p>
        <a href="/product"><img src="static/nokia.jpeg" style="width: 250px;height: 150px;"></a>
    </div>

</body>
</html>