<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>best ebay ever</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #f4ebe8;">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/cart">cart</a>
        <a href="/product">product</a>
    </div>
    <img id="image" src="static/e-bay.png" style="width: 250px;height: 150px;">
    
    <p>this website will provide you the most important things you need in your life</p>



    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <center><img src="static/BananaSingle.jpg" alt="" style="width:25%;height: 30%;"></center>
          </div>

          <div class="item">
            <center><img src="static/water.webp" alt="Chicago" style="width:25%;height: 30%;"></center>
          </div>
        
          <div class="item">
            <center><img src="static/nokia.jpeg" alt="New york" style="width:25%;height: 30%;"></center>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>




    <div>
        <p>banana</p>
        <a href="/product"><img src="static/BananaSingle.jpg" style="width: 250px;height: 150px;"></a>

    </div>
    <div>
        <p>water bottle (imported from africa)</p>
        <a href="/product"><img src="static/water.webp" style="width: 250px;height: 150px;"></a>
    </div>
    <div>
        <p>nokia phone</p>
        <a href="/product"><img src="static/nokia.jpeg" style="width: 250px;height: 150px;"></a>
    </div>

</body>
</html>